div.ui.list
    each message in messages
        div.item
            case message.level
                when 0
                when 1
                    i(class="smile icon")
                when 2
                    i(class="meh icon")
                when 3
                    i(class="frown icon")
            div.content=message.message