html
    head
        include ../include/head.pug
        link(href=eisle.host+"/styles/eisle/chord-intro.css" rel="stylesheet" type="text/css")
        title= title + " - Echo Isles"
    body
        div.ui.warning.message
            div 无法解析
                span(style="font-family: monospace") #{input}
            include chord-parse-messages.pug