script(src=eisle.host+"/styles/semantic/components/accordion.min.js")
script $(document).ready(function () { $('.ui.accordion').accordion(); });
link(href=eisle.host+"/styles/semantic/components/accordion.min.css" rel="stylesheet" type="text/css")