script(src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous")
script(src=eisle.host+"/styles/semantic/semantic.min.js")
link(href=eisle.host+"/styles/semantic/semantic.min.css" rel="stylesheet" type="text/css" class="ui")